doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='stylesheets/normalize.css')
  link(rel='stylesheet' href='stylesheets/grid.css')
  //- link(rel='stylesheet' href='stylesheets/mdb.min.css')
  link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
  //- link(rel='stylesheet' href='styles.css')


  link(rel='stylesheet' href='res/css/queries.css')
  link(rel='stylesheet' href='stylesheets/ionicons.min.css')
  link(href='https://fonts.googleapis.com/css?family=Lato:100,300,300i,400' rel='stylesheet')
  title Innovate: Digital Bank
.jumbotron.text-center
  h1.display-3 Thank You!
  p.lead
    strong Please check your email
    |  for further instructions on how to complete your account.
  hr
  p
  p.lead
    a.btn.btn-primary.btn-sm(href='/' role='button') Continue to your account

